[defaults]
# Disable host key checking to avoid SSH key verification issues
host_key_checking = False

# Use faster connection method
ansible_connection = ssh

# Set inventory directory
inventory = ./ansible/inventory.yml

# SSH related settings
[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
pipelining = True
